

.extra {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;
}
.roles {
    display: flex;
    flex-direction: column;
    padding: 1px;
    align-content: left;
}

/* .roles > div {
    background:#e0e3e6;
}
.roles > div:nth-child(odd) {
    background:#d7dbd8;
} */